body .circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    
    top: 0;
    left: 0;
    background: radial-gradient(#fbc377,transparent);
    display: none;
    z-index: -1;;
    

}
body .hidewhite{
    display: none;
    font-weight: bold;
    /* color: darkred; */
}
p{
    display: inline;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
button{
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      
      
}
button:hover{
    background-color: #f44336;
    color: white;
  
}
#submit{
    background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block; 
  text-decoration: none;
  cursor: pointer;
}
#submit:hover{
    opacity: 1;
}
input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

form{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}
label { color: #B4886B; font-weight: bold; font-size: 20px; }  

#balloon-container {
    /* height: 100vh;
    padding: 1em; */
    /* box-sizing: border-box; */
     /* display: flex;  */
    flex-wrap: wrap;
    
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(10vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 1;}
  }